In [18]:
import pandas as pd

data = {
    "age": [39, 50, 38, 53, 28],
    "workclass": ["State-gov", "Self-emp-not-inc", "Private", "Private", "Private"],
    "fnlwgt": [77516, 83311, 215646, 234721, 338409],
    "education": ["Bachelors", "Bachelors", "HS-grad", "11th", "Bachelors"],
    "education-num": [13, 13, 9, 7, 13],
    "marital-status": ["Never-married", "Married-civ-spouse", "Divorced", "Married-civ-spouse", "Married-civ-spouse"],
    "occupation": ["Adm-clerical", "Exec-managerial", "Handlers-cleaners", "Handlers-cleaners", "Prof-specialty"],
    "relationship": ["Not-in-family", "Husband", "Not-in-family", "Husband", "Wife"],
    "race": ["White", "White", "White", "Black", "Black"],
    "sex": ["Male", "Male", "Male", "Male", "Female"],
    "capital-gain": [2174, 0, 0, 0, 0],
    "capital-loss": [0, 0, 0, 0, 0],
    "hours-per-week": [40, 13, 40, 40, 40],
    "native-country": ["United-States", "United-States", "United-States", "United-States", "Cuba"],
    "salary": ["<=50K", "<=50K", "<=50K", "<=50K", "<=50K"]
}

df = pd.DataFrame(data)

df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [14]:
race_counts = df['race'] .value_counts()
race_counts

race
White    3
Black    2
Name: count, dtype: int64

In [15]:
male_data = df[df['sex'] == 'Male']
average_age_men = male_data['age'].mean()

average_age_men

45.0

In [23]:
total_people = len(df)

bachelors_count = len(df[df['education'] == 'Bachelors'])

bachelors_percentage = (bachelors_count / total_people) * 100
bachelors_percentage

60.0

In [24]:
advanced_edu = df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])

advanced_edu_rich = df[advanced_edu & (df['salary'] == '>50K')]

percentage_advanced_edu_rich = (len(advanced_edu_rich) / len(df[advanced_edu])) * 100
percentage_advanced_edu_rich

0.0

In [25]:
non_advanced_edu = ~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])

non_advanced_edu_rich = df[non_advanced_edu & (df['salary'] == '>50K')]

percentage_non_advanced_edu_rich = (len(non_advanced_edu_rich) / len(df[non_advanced_edu])) * 100
percentage_non_advanced_edu_rich

0.0

In [26]:
min_hours_per_week = df['hours-per-week'].min()
min_hours_per_week

13

In [27]:
min_hours_workers = df[df['hours-per-week'] == min_hours_per_week]

percentage_min_hours_rich = (len(min_hours_workers[min_hours_workers['salary'] == '>50K']) / len(min_hours_workers)) * 100
percentage_min_hours_rich

0.0

In [20]:
if not country_percentage.dropna().empty:
    highest_country = country_percentage.idxmax()  
    highest_percentage = country_percentage.max()
else:
    highest_country = None
    highest_percentage = None
highest_country, highest_percentage

(None, None)

In [17]:
india_high_earners = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]

most_popular_occupation = india_high_earners['occupation']

most_popular_occupation

Series([], Name: occupation, dtype: object)

In [23]:
# Filter for individuals in India earning >50K
india_high_earners = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]

# Check if the filtered DataFrame is empty
if not india_high_earners.empty:
    most_popular_occupation = india_high_earners['occupation'].mode()[0]  # Get the most common occupation
else:
    most_popular_occupation = None  # Handle the empty case

most_popular_occupation

In [24]:
df['native-country'] = df['native-country'].str.strip()
df['salary'] = df['salary'].str.strip()